<!-- Task No. 1 - HTML / CSS -->

<table>
  <thead>
  <tr>
    <th>Account</th>
    <th><span class="header_symbol">^</span> Available Cash<br> <span class="sub_header">Todays's Changes</span></th>
  </tr>
  </thead>
  <tr>
    <td class="txt_account">IRA - 5200 </td>
    <td class="txt_balence">$5,763.36<br>
    <span class="txt_percentages">-0.08% / $8,916.69</span>
    </td>
  </tr>

    <tr>
    <td class="txt_account">AAA - 1812 </td>
    <td class="txt_balence">$2,010,926.10<br>
    <span class="txt_percentages per_positive">+0.21% / $38,881.63</span>
    </td>
  </tr>

    <tr>
    <td class="txt_account"> AAA - 3810 </td>
    <td class="txt_balence">$10,050,054.07<br>
    <span class="txt_percentages per_positive">+0.07% / $8,916.69</span>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="txt_load_more">
      Load more
    </td>
    </tr>
</table>